@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&family=Rubik:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: grey; ;
}

.calculator {
    text-align: center;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    background-color: #3652AD;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

button:hover {
    background-color: red;
}
.calc{
     background-color:  #FE7A36;
}